html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#renderCanvas {
  width: 100%;
  height: 100%;
}

.viewcenter {
  position: absolute;
  right: calc(50% - 2px);
  top: calc(50% - 2px);
  height: 4px;
  width: 4px;
  z-index: 10;
  background: red;
}

#info-panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  background: #262626;
  border-left: 0px solid white;
  transition-property: width;
  transition-duration: 0.3s;
  opacity: 0.95;
}
#info-panel #show-info {
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 100%;
  top: 5px;
  border-radius: 10px 0 0 10px;
  border: 1px solid white;
  border-right: none;
  height: 40px;
  width: 25px;
  background: rgba(38, 38, 38, 0.3);
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
}
#info-panel #show-info:hover {
  background: rgba(38, 38, 38, 0.5);
}
#info-panel #show-info:active {
  font-size: 22px;
}
#info-panel .info-container {
  overflow-y: auto;
  height: 100%;
}
#info-panel .elements-container {
  overflow-x: hidden;
  margin: 10px;
  padding: 10px;
  background: #191919;
  color: white;
}
#info-panel .elements-container .header {
  border-bottom: 1px solid white;
}
#info-panel .elements-container .list .element-container {
  margin-top: 10px;
  margin-left: 10px;
}
#info-panel .elements-container .list .element-container > div:first-child {
  margin-top: 0px;
}
#info-panel .elements-container .list .element-container > div:not(:first-child) {
  margin-top: 10px;
}
#info-panel .elements-container .list .element .element-name {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#info-panel .elements-container .list .element .element-name .display-button, #info-panel .elements-container .list .element .element-name .btn-suppr {
  margin-right: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #555;
  background: none;
  color: white;
  padding-bottom: 3px;
  cursor: pointer;
}
#info-panel .elements-container .list .element .element-name .display-button:hover, #info-panel .elements-container .list .element .element-name .btn-suppr:hover {
  background: #555;
}
#info-panel .elements-container .list .element .element-name label {
  padding-left: 5px;
  margin-right: 5px;
  flex-grow: 2;
  overflow-x: hidden;
  cursor: pointer;
}
#info-panel .elements-container .list .element .element-name label:hover {
  background: #333;
}
#info-panel .elements-container .list .element .element-name input {
  margin-right: 5px;
  flex-grow: 2;
}
#info-panel .elements-container .list .element .element-params {
  margin-left: 9px;
  border-left: solid 1px white;
  padding-left: 15px;
  overflow-y: hidden;
  transition-property: height;
  transition-duration: 0.3s;
}
#info-panel .elements-container .list .element .element-params .param-img {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#info-panel .elements-container .list .element .element-params .param-img img {
  width: 150px;
  border: 1px solid white;
}
#info-panel .elements-container .list .element .element-params .param-img button {
  position: absolute;
  bottom: 7px;
  border: solid 1px white;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
#info-panel .elements-container .list .element .element-params .param-img button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
#info-panel .elements-container .list .element .element-params .param {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#info-panel .elements-container .list .element .element-params .param input {
  width: 80px;
}
.interactions-container {
  overflow-x: hidden;
  margin: 10px;
  padding: 10px;
  background: #191919;
  color: white;
}
.interactions-container .header {
  border-bottom: 1px solid white;
}
.interactions-container .editor-container {
  background: #fff;
  margin-top: 5px;
}
.interactions-container .editor-container #jsoneditor {
  height: 900px;
}
.interactions-container .footer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.interactions-container .footer .filler {
  flex: 2;
}
.interactions-container .footer > button:first-child {
  margin-top: 0px;
}
.interactions-container .footer > button:not(:first-child) {
  margin-left: 10px;
}
.interactions-container .footer button {
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  background: #262626;
  color: white;
  cursor: pointer;
}
.interactions-container .footer button:hover {
  background: #737373;
}
.interactions-container .footer button:active {
  background: #4c4c4c;
}

.scene-DragAndDrop {
  opacity: 0.9;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 100px;
  width: 100px;
  z-index: 10;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  text-shadow: 2px 0 0 #555, -2px 0 0 #555, 0 2px 0 #555, 0 -2px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
}
.scene-DragAndDrop #sky-DragAndDrop {
  background-image: url("/sky.7f1d89ec.jpg");
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene-DragAndDrop #sky-DragAndDrop.dragOver {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.6) 10px, rgba(255, 255, 255, 0.6) 15px), url("/sky.7f1d89ec.jpg");
}
.scene-DragAndDrop #ground-DragAndDrop {
  background-image: url("/ground.b4b26671.jpg");
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene-DragAndDrop #ground-DragAndDrop.dragOver {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.6) 10px, rgba(255, 255, 255, 0.6) 15px), url("/ground.b4b26671.jpg");
}

#states-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 15;
  background: #262626;
  border-top: 0px solid white;
  transition-property: height;
  transition-duration: 0.3s;
  opacity: 0.95;
}
#states-panel #show-states {
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 100%;
  left: 5px;
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
  border-bottom: none;
  height: 30px;
  width: 140px;
  background: rgba(38, 38, 38, 0.3);
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
}
#states-panel #show-states:hover {
  background: rgba(38, 38, 38, 0.5);
}
#states-panel #show-states:active {
  font-size: 20px;
}
#states-panel #states_viewer_component {
  height: 100%;
}
#states-panel .states-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  color: white;
}
#states-panel .states-container .header {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background: #191919;
}
#states-panel .states-container .header label {
  color: white;
}
#states-panel .states-container .header > button:first-of-type {
  margin-left: 20px;
}
#states-panel .states-container .header > button:not(:first-of-type) {
  margin-left: 10px;
}
#states-panel .states-container .header select {
  margin-left: 20px;
  width: 150px;
}
#states-panel .states-container .header button {
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  background: #262626;
  color: white;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
#states-panel .states-container .header button:hover {
  background: #737373;
}
#states-panel .states-container .header button:active {
  background: #4c4c4c;
}
#states-panel .states-container .header button:disabled {
  cursor: not-allowed;
  background: #4c4c4c;
  color: #999;
  border-color: #999;
}
#states-panel .states-container .header #btn-add-state {
  background-image: url(/add-icon.cd2e6e4e.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .header #btn-duplicate-state {
  background-image: url(/duplicate-icon.f879d29c.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .header #btn-rename-state {
  background-image: url(/rename-icon.19e1302f.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .header #btn-delete-state {
  background-image: url(/delete-icon.5f5b53d0.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .header .separator {
  margin: 0 10px 0 20px;
  border-right: 3px double #fff;
  height: 10px;
}
#states-panel .states-container .body {
  padding: 10px;
  flex-grow: 2;
  height: calc( 100% - 35px - 20px );
  background: #191919;
  display: flex;
  justify-content: space-around;
}
#states-panel .states-container .body .elements-container {
  height: calc( 100% - 10px );
  margin: 0 10px;
  width: 600px;
  background: #262626;
  padding: 5px 10px;
}
#states-panel .states-container .body .elements-container .head {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 30px;
  align-items: center;
  justify-items: start;
  margin-right: 17px;
}
#states-panel .states-container .body .elements-container .head label {
  font-size: 18px;
}
#states-panel .states-container .body .elements-container .head .button-show-hide-elements {
  justify-self: end;
}
#states-panel .states-container .body .elements-container .head .button-show-hide-elements.show {
  background-image: url(/show-icon.f702ef47.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .body .elements-container .head .button-show-hide-elements.hide {
  background-image: url(/hide-icon.6605e6f7.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .body .elements-container .head .checkbox-elements-visibles {
  transform: scale(1.5);
  justify-self: end;
}
#states-panel .states-container .body .elements-container .head button {
  justify-self: end;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  background: #262626;
  color: white;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
#states-panel .states-container .body .elements-container .head button:hover {
  background: #737373;
}
#states-panel .states-container .body .elements-container .head button:active {
  background: #4c4c4c;
}
#states-panel .states-container .body .elements-container .list {
  overflow-y: scroll;
  height: calc( 100% - 21px - 10px );
}
#states-panel .states-container .body .elements-container .list > div:first-child {
  margin-top: 0px;
}
#states-panel .states-container .body .elements-container .list > div:not(:first-child) {
  margin-top: 5px;
}
#states-panel .states-container .body .elements-container .list .element .element-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#states-panel .states-container .body .elements-container .list .element .element-name .name {
  padding: 2px 10px;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  background: #333333;
  cursor: pointer;
}
#states-panel .states-container .body .elements-container .list .element .element-name .name:hover {
  background: #404040;
}
#states-panel .states-container .body .elements-container .list .element .element-name .name:active {
  background: #4c4c4c;
}
#states-panel .states-container .body .elements-container .list .element .element-name .name .button-display-element {
  font-family: monospace;
}
#states-panel .states-container .body .elements-container .list .element .element-name .checkbox-element-visible {
  cursor: pointer;
  margin: 0 10px;
  transform: scale(1.3);
}
#states-panel .states-container .body .elements-container .list .element .element-params {
  overflow: hidden;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params {
  background: #383838;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 33px;
  height: 130px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .param-img {
  height: 102px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .param-img img {
  height: 100px;
  border: 1px solid white;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables {
  flex-grow: 2;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables > div:first-child {
  margin-left: 0px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables > div:not(:first-child) {
  margin-left: 10px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container {
  height: 100%;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.point {
  display: flex;
  flex-direction: column;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.point #select-position-type {
  margin-bottom: 5px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.linear {
  display: grid;
  grid-template-areas: "select occ" "w w";
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.linear #select-position-type {
  grid-area: select;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.linear .occurence {
  grid-area: occ;
  display: flex;
  align-items: center;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.linear .occurence input {
  margin-left: 5px;
  width: 40px;
  height: 18px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.linear .pos-wrapper {
  grid-area: w;
  justify-self: stretch;
  display: flex;
  justify-content: space-around;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread {
  display: flex;
  flex-direction: column;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread #select-position-type {
  margin-bottom: 5px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread {
  height: 60px;
  width: 120px;
  display: grid;
  grid-template-areas: "to io" "th ih";
  align-items: center;
  justify-items: stretch;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread input {
  justify-self: end;
  width: 50px;
  height: 18px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread .occurence {
  grid-area: to;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread .name-position-h {
  grid-area: th;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread .input-occurence {
  grid-area: io;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position-container.spread .spread .input-position-h {
  grid-area: ih;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position {
  height: 100%;
  width: 70px;
  display: grid;
  grid-template-areas: "t t" "nx ix" "ny iy" "nz iz";
  align-items: center;
  justify-items: stretch;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position input {
  justify-self: end;
  width: 40px;
  height: 18px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .title {
  justify-self: start;
  grid-area: t;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .input-position-x {
  grid-area: ix;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .input-position-y {
  grid-area: iy;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .input-position-z {
  grid-area: iz;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .name-position-x {
  grid-area: nx;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .name-position-y {
  grid-area: ny;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .position .name-position-z {
  grid-area: nz;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 115px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container > div:first-child {
  margin-top: 0px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container > div:not(:first-child) {
  margin-top: 5px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .size {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .size .input-size {
  width: 40px;
  height: 18px;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .transition {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .transition input {
  cursor: pointer;
  transform: scale(1.3);
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .opacity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#states-panel .states-container .body .elements-container .list .element .element-params .params .variables .variables-container .opacity .input-alpha {
  width: 40px;
  height: 18px;
}
#states-panel .states-container .body .transitions-container {
  height: calc( 100% - 10px );
  margin: 0 10px;
  width: 500px;
  background: #262626;
  padding: 5px 10px;
}
#states-panel .states-container .body .transitions-container .head {
  font-size: 18px;
  margin-bottom: 10px;
}
#states-panel .states-container .body .transitions-container .list {
  overflow-y: auto;
  height: calc( 100% - 21px - 10px );
  display: flex;
  flex-direction: column;
}
#states-panel .states-container .body .transitions-container .list > div:first-child {
  margin-top: 0px;
}
#states-panel .states-container .body .transitions-container .list > div:not(:first-child) {
  margin-top: 5px;
}
#states-panel .states-container .body .transitions-container .list > div:nth-child(2n) {
  background: #404040;
}
#states-panel .states-container .body .transitions-container .list > div:nth-child(2n+1) {
  background: #595959;
}
#states-panel .states-container .body .transitions-container .list .transition, #states-panel .states-container .body .transitions-container .list .transition-title {
  display: grid;
  grid-template-columns: 30px 100px 1fr 20px 1fr 30px;
  align-items: center;
  justify-items: stretch;
  grid-column-gap: 10px;
  padding: 5px;
}
#states-panel .states-container .body .transitions-container .list #arrow {
  justify-self: center;
  background-image: url(/right-arrow-icon.5e9e355e.svg);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
#states-panel .states-container .body .transitions-container .list button {
  justify-self: end;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  background: #262626;
  color: white;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
#states-panel .states-container .body .transitions-container .list button:hover {
  background: #737373;
}
#states-panel .states-container .body .transitions-container .list button:active {
  background: #4c4c4c;
}
#states-panel .states-container .body .separator {
  margin: 0 10px;
  border-right: 1px solid #888;
}

/*# sourceMappingURL=/styles.164d45a1.css.map */